<?xml version="1.0"?>
<config>
    <modules>
        <QS_Smallinvoice>
            <version>1.0.0</version>
        </QS_Smallinvoice>
    </modules>
    <global>
        <blocks>
            <qs_smallinvoice>
                <class>QS_Smallinvoice_Block</class>
            </qs_smallinvoice>
            <qs_smallinvoice_adminhtml>
                <class>QS_Smallinvoice_Block_Adminhtml</class>
            </qs_smallinvoice_adminhtml>
        </blocks>
        <models>
            <qs_smallinvoice>
                <class>QS_Smallinvoice_Model</class>
                <resourceModel>qs_smallinvoice_mysql4</resourceModel>
            </qs_smallinvoice>
            <qs_smallinvoice_mysql4>
                <class>QS_Smallinvoice_Model_Mysql4</class>
                <entities>
                    <smallinvoice>
                        <table>smallinvoice</table>
                    </smallinvoice>
                </entities>
            </qs_smallinvoice_mysql4>
        </models>
        <helpers>
            <qs_smallinvoice>
                <class>QS_Smallinvoice_Helper</class>
            </qs_smallinvoice>
        </helpers>
        <resources>
            <qs_smallinvoice_setup>
                <setup>
                    <module>QS_Smallinvoice</module>
                </setup>
            </qs_smallinvoice_setup>
        </resources>
        <events>
            <!-- Customer -->
            <customer_save_before>
                <observers>
                    <qs_smallinvoice>
                        <class>qs_smallinvoice/customer_observer</class>
                        <method>customerSaveBefore</method>
                    </qs_smallinvoice>
                </observers>
            </customer_save_before>
            <customer_delete_after>
                <observers>
                    <qs_smallinvoice>
                        <class>qs_smallinvoice/customer_observer</class>
                        <method>customerDelete</method>
                    </qs_smallinvoice>
                </observers>
            </customer_delete_after>
            <customer_address_save_after>
                <observers>
                    <qs_smallinvoice>
                        <class>qs_smallinvoice/customer_observer</class>
                        <method>customerSaveAddress</method>
                    </qs_smallinvoice>
                </observers>
            </customer_address_save_after>
            <customer_address_delete_after>
                <observers>
                    <qs_smallinvoice>
                        <class>qs_smallinvoice/customer_observer</class>
                        <method>customerSaveAddress</method>
                    </qs_smallinvoice>
                </observers>
            </customer_address_delete_after>
            <!-- Customer -->
            <!--/* Invoice */-->
            <sales_order_place_before>
                <observers>
                    <qs_smallinvoice>
                        <class>qs_smallinvoice/invoice_observer</class>
                        <method>SalesOrderSaveAfter</method>
                    </qs_smallinvoice>
                </observers>
            </sales_order_place_before>
            <!--/* Invoice */-->
            <!--Catalog -->
            <catalog_product_delete_after_done>
                <observers>
                    <qs_smallinvoice>
					     <type>singleton</type>
                        <class>qs_smallinvoice/catalog_observer</class>
                        <method>deleteProduct</method>
                    </qs_smallinvoice>
                </observers>
            </catalog_product_delete_after_done>
		    <catalog_product_save_before>
                <observers>
                    <qs_smallinvoice>
                      <type>singleton</type>
                      <class>qs_smallinvoice/catalog_observer</class>
                      <method>productSaveBefore</method>
                    </qs_smallinvoice>
                </observers>
		    </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <qs_smallinvoice>
                      <type>singleton</type>
                      <class>qs_smallinvoice/catalog_observer</class>
                      <method>productSaveBefore</method>
                    </qs_smallinvoice>
                </observers>
		    </catalog_product_save_after>
            <!--Catalog -->
            <!-- Receipts-->
            <sales_order_invoice_save_after>
                <observers>
                    <qs_smallinvoice>
                      <type>singleton</type>
                      <class>qs_smallinvoice/receipts_observer</class>
                      <method>invoiceSaveAfter</method>
                    </qs_smallinvoice>
                </observers>
            </sales_order_invoice_save_after>
            <!-- Receipts-->
        </events>

    </global>
    <frontend>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <qs_smallinvoice before='Mage_Adminhtml'>QS_Smallinvoice_Adminhtml</qs_smallinvoice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <crontab>
        <jobs>
            <qs_smallinvoice_cron>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>qs_smallinvoice/observer::cronDeal</model>
                </run>
            </qs_smallinvoice_cron>
        </jobs> 
    </crontab>

     <adminhtml>
        <menu>
            <qs_smallinvoice module="qs_smallinvoice">
                 <title>Smallinvoice</title>
                 <sort_order>79</sort_order>
                   <children>
                      <grid translate="title" module="qs_smallinvoice">
                        <title>Queries log</title>
                        <sort_order>99</sort_order>
                        <action>adminhtml/grid/index</action>
                      </grid>
                      <config translate="title" module="qs_smallinvoice">
                        <title>Config</title>
                        <sort_order>97</sort_order>
                        <action>adminhtml/system_config/edit/section/qs/</action>
                      </config>
                   </children>
            </qs_smallinvoice>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <qs>
                                            <title>Smallinvoice</title>
                                        </qs>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
     <admin>
        <routers>
            <smallinvoice>
                <use>admin</use>
                <args>
                    <module>QS_Smallinvoice</module>
                    <frontName>qs_smallinvoice</frontName>
                </args>
            </smallinvoice>
        </routers>
    </admin>
    <default>
        <qs>
            <smallinvoice>
                <api>https://api.smallinvoice.com</api>
            </smallinvoice>
            <smallinvoice_customer>
                <country>CH</country>
                <language>de</language>
                <code>0000</code>
            </smallinvoice_customer>
            <smallinvoice_invoice>
              <due>10</due>
            </smallinvoice_invoice>
         </qs>
    </default>
</config>